{% if is_granted('ROLE_ADMIN') %}
    {{ include("admin/admin.html.twig") }}
{% else %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In-CREA Tech</title>
    <link rel="stylesheet" href="{{ asset('assets/accueil/css/style_index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/accueil/css/fontawesome.min.css') }}">
</head>
<body>
    <nav>       
        <div class="container">
            <h2 class="logo">In-<span class="Spn">CEO</span><span> Tech</span></h2>
            <h2 class="logo-2">I-<span class="Spn">C</span><span>T</span></h2>
            <i class="fa fa-1x fa-search search-2"></i>
            <form action="{{ path('app_users.search') }}" method="post">
                <div class="search-bar">
                    <i class="fa fa-1.2x fa-search"></i>
                    <input type="search" placeholder="Search" name="name" required>
                    <input type="submit" value="Search">
                </div>
            </form>
            <div class="create" id="profil">
                <label class="btn btn-primary" for="create-post">{% include 'profil/profil.html.twig' %}</label>
            </div>
            
            <div class="profile-photo">
                {% set imageSource = (app.user and app.user.pdpName) ? asset('images/users/' ~ app.user.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                <img src="{{ imageSource }}" alt="">
            </div>
        </div>
        <div class="menu-item-2">
            <ul>
              <li><i class="fa-solid fa-1x fa-house"></i><a href="#"></a></li>
              <li><i class="fa-solid fa-1x fa-bell"></i><a href="#"></a></li>
              <li><i class="fa-brands fa-1x fa-facebook-messenger"><small class="notification-count">!</small></i><a href="#"></a></li>
              <li><i class="fa-solid fa-1x fa-contact-book"></i><a href="#"></a></li>
            </ul>
        </div>    
    </nav>
    <!----Main---->
    <main>
        <div class="container">
            <!----left---->
            <div class="left" style="margin-top: 3rem">
                 <a class="profile">
                     <div class="profile-photo">
                        {% set imageSource = (app.user and app.user.pdpName) ? asset('images/users/' ~ app.user.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                        <img src="{{ imageSource }}" alt="">
                     </div>
                     <div class="haddle">
                     {% if app.user %}
                        <h4>{{ app.user.name }}</h4>
                        <p class="text-muted">{{ app.user.email }}</p>
                     {% else %}
                        <h4>User</h4>
                        <p class="text-muted">user@gmail.com</p>
                    {% endif %}
                     </div>
                 </a>
                 {# Side bar #}
                 <div class="sidebar">
                    <a class="menu-item active" href="{{ path('app_home') }}">
                        <span><i class="fa-solid fa-1x fa-house"></i></span><h3>Home</h3>
                    </a>
                    <a class="menu-item"  id="message-notification">
                        <span><i class="fa-brands fa-1x fa-facebook-messenger"><small class="notification-count"> ! </small></i></span><h3>Message</h3>
                    </a>
                    <a class="menu-item" href="{{ path("app_message.get", {"id": 1}) }}"> 
                        <span><i class="fa-solid fa-1x fa-contact-book"></i></span><h3>Contact Us</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><i class="fa-solid fa-1x fa-bell"><small class="notification-count">  
                            {% if notifs is defined %}
                                {{ notifs | length}}
                            {% endif %} 
                        </small></i></span><h3>Notification</h3>
                        {# <!--------Notification pop up---------> #}
                        <div class="notifications-popup">
                            {% if notifs is defined %}
                                {% for notif in notifs %}
                                    <div>
                                        <div class="profile-photo">
                                            <img src="{{ asset('assets/accueil/images/logo.png') }}" alt="">
                                        </div>      
                                        <div class="notification-body">
                                            <b>Administrator</b> {{ notif.content }} <small><b>Titre du projet : {{ notif.articleTitle }}</b></small>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {# <!----End pop-up notification----> #}
                    </a>
                 </div>
                 {# <!----End of side bar----> #}
                 {% if app.user %}
                    <label for="create-post" class="btn btn-primary"><a href="{{ path('app_logout') }}" style="color: white">Log Out</a></label>
                 {% else %}
                    <label for="create-post" class="btn btn-primary"><a href="{{ path('app_login') }}" style="color: white">Log In</a></label>
                 {% endif %}
        
            </div> 
            {# <!----------END OF LEFT-------------> #}
             {# <!----middle----> #}
            <div class="middle">
                <div class="create-post">
                    <div class="profile-photo">
                        {% set imageSource = (app.user and app.user.pdpName) ? asset('images/users/' ~ app.user.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                        <img src="{{ imageSource }}" alt="">
                    </div>
                    <input type="text" name="" id="create-post" placeholder="What is on your mind?" readonly>
                    <label class="btn btn-primary" for="create-post">
                        {% if app.user %}
                            {% if app.user.profil == 'admin' or app.user.profil == 'entreprise' %}
                                {% include 'publication/index.html.twig' %}
                            {% else %}
                                {% include 'article/index.html.twig' %}
                            {% endif %}
                        {% endif %}
                    </label>
                </div>
                {# <!------Feeds 1-------> #}
                {% if usersSearch is defined %}
                    {% if usersSearch | length < 1 %}
                        <div style="margin: 2rem 2rem 0 2rem">
                            <img src="{{ asset('assets/accueil/images/notfound.svg') }}" alt="">
                        </div>
                    {% else %}
                        {% for user in usersSearch %}
                            <div style="margin-top: 3rem">
                                <div class="profile-photo" style="float: left; margin-right: 10px;">
                                    {% set imageSource = (user.pdpName) ? asset('images/users/' ~ user.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                                    <img src="{{ imageSource }}" alt="">
                                </div>
                                <div style="margin: 2rem 2rem 0 2rem; overflow: hidden;">
                                    <h3>{{ user.name }}</h3>
                                    <p class="text-muted">{{ user.profil | upper }}</p>
                                    <a href="{{ path('app_message.get',{"id": user.id}) }}" style="color: red">Message</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}            
                {% else %}
                    <div class="feeds">
                        <div class="feed">
                            <div class="head">
                                <div class="user">
                                    <div class="profile-photo">
                                        <img src="{{ asset('assets/accueil/images/logo.png') }}" alt="">
                                    </div>
                                    <div class="ingo">
                                        <h3>Administrator</h3>
                                        <small>Sponsored</small>
                                    </div>
                                </div>
                                <span class="edit">
                                    <i class="fa fa-1x fa-ellipsis-h"></i>
                                </span>
                            </div>
                            <div class="photo">
                                <img src="{{ asset('assets/accueil/images/bienvenue.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    {# <!------Feeds 2-------> #}
                    <div class="feeds">
                        <div class="feed">
                            <div class="head">
                                <div class="user">
                                    <div class="profile-photo">
                                        <img src="{{ asset('assets/accueil/images/logo.png') }}" alt="">
                                    </div>
                                    <div class="ingo">
                                        <h3>Administrator</h3>
                                        <small>Sponsored</small>
                                    </div>
                                </div>
                                <span class="edit">
                                    <i class="fa-solid fa-1x fa-ellipsis"></i>
                                </span>
                            </div>
                            <div class="photo">
                                <video src="{{ asset('assets/accueil/video/infographic.mp4') }}"></video>
                            </div>
                        </div>
                    </div>

                    {% if pubs is defined %}
                       {% for pub in pubs %}
                            <div class="feeds">
                                <div class="feed">
                                    <div class="head">
                                        <div class="user">
                                            <div class="profile-photo">
                                                {% set imageSource = (pub.author.pdpName) ? asset('images/users/' ~ pub.author.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                                                <img src="{{ imageSource }}" alt="">
                                            </div>
                                            <div class="ingo">
                                                <h3>{{ pub.author.name }}</h3>
                                                <small>Sponsored</small>
                                            </div>
                                            
                                        </div>
                                        
                                        <span class="edit">
                                            <i class="fa-solid fa-1x fa-ellipsis"></i>
                                        </span>
                                    </div>
                                    <p style="font-size: 0.8rem; margin-left: 20px"><b>{{ pub.content }}</b></p>
                                    <div class="photo">
                                        <img src="{{ asset('images/publications/') ~ pub.imageName }}"></img>
                                    </div>
                                </div>
                            </div>
                       {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            {# <!-----------End of middle-------------> #}

            {# <!----rigth----> #}
            <div class="right">
                <div class="messages">
                    <div class="heading">
                        <h4>Message</h4>
                    </div>
                    {# <!---Search bar--> #}
                    <div class="search-bar">
                        <i class="fa fa-1x fa-search"></i>
                        <input type="search" name="" id="message-search" placeholder="Search Message">
                    </div>
                     {# <!---Message------> #}
                     <a class="message" href="{{ path("app_message.get", {"id": 1}) }}">
                        <div class="profile-photo">
                            <img src="{{ asset('assets/accueil/images/logo.png') }}" alt="">
                        </div>
                        <div class="message-body">
                            <h5>Administrator</h5>
                            <p class="text-muted"><h6>Welcome to In-CREA Tech!...</h6></p>
                        </div>
                    </a>

                    {% if app.user and usersSearch is not defined %}
                        {% for u in users %}
                            <a class="message" href="{{ path("app_message.get", {"id": u.id}) }}">
                                <div class="profile-photo">
                                    {% set imageSource = (u.pdpName) ? asset('images/users/' ~ u.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                                    <img src="{{ imageSource }}" alt="">
                                </div>
                                <div class="message-body">
                                    <h5>{{ u.name }}</h5>
                                    <p class="text-muted"><h6>Say Hi to {{ u.name }}!</h6></p>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                {# <!---End of message--> #}

                {# <!--Suggestion pesonal--> #}
                <div class="friend-requests">
                    <h4>Suggestions</h4>
                    {% if app.user and usersSearch is not defined %}
                        {% for u in users %}
                            <div class="request">
                                <div class="info">
                                    <div class="profil-photo">
                                        {% set imageSource = (u.pdpName) ? asset('images/users/' ~ u.pdpName) : asset('assets/accueil/images/defaultUser.png') %}
                                        <img src="{{ imageSource }}" alt="">
                                    </div>
                                    <div>
                                        <h5>{{ u.name }}</h5>
                                        <p class="text-muted">
                                            {{ u.profil | upper }}
                                        </p>
                                    </div>
                                </div>
                                <div class="action">
                                    <a class="btn btn-primary" href="{{ path('app_message.get', {"id": u.id}) }}">
                                        Message
                                    </a> 
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}                 
                </div>
        </div>
    </main>
    <script>
    {# //====================SIDE BAR =========================== #}
        {# //Side bar #}
        const menuItems = document.querySelectorAll('.menu-item');
        
        
        {# // Remove active class from all menu items #}
        const changeActiveItem = () => {
            menuItems.forEach(item => {
                item.classList.remove('active');
            })
        }
        menuItems.forEach(item => {
            item.addEventListener('click', () => {
                changeActiveItem();
                item.classList.add('active');
                if(item.id != 'notifications'){
                    document.querySelector('.notifications-popup').
                    style.display = 'none';
                } else{
                    document.querySelector('.notifications-popup').
                    style.display = 'block';
                    document.querySelector('#notifications .notification-count').style.display = 'none';
                }
            })
        })
        
        {# //====================MESSAGES=================== #}
        //message
        const messageNotification = document.querySelector('#message-notification');
        const messages = document.querySelector('.messages');
        const message = messages.querySelectorAll('.message');
        const messageSearch = document.querySelector('#message-search');
        
        {# /*=================Message================*/ #}
        {# //Searches chats #}
        const searchMessage = () => {
            const val = messageSearch.value.toLowerCase();
            console.log(val);
            message.forEach(chat => {
                let name = chat.querySelector('h5').textContent.toLowerCase();
                if (name.indexOf(val) != -1){
                    chat.style.display = 'flex';
                } else {
                    chat.style.display = 'none';
                }
            })
        }
        
        {# //Search Chat #}
        messageSearch.addEventListener('keyup',searchMessage);
        
        {# //hightlight messages card when messages menu items is clicked #}
        messageNotification.addEventListener ('click', () => {
            messages.style.boxShadow = '0 0 1rem var(--color-primary)';
            messageNotification.querySelector('.notification-count').style.display = 'none';
            setTimeout(() => {
                messages.style.boxShadow = 'none';
            },2000);
        })
        </script>
</body>
</html>
{% endif %}